<div class="toolbar" role="banner">
    <img
      width="40"
      alt="LandCom Logo"
      src="https://images.bayut.com/thumbnails/27681668-240x180.webp"
    /> 
   <h3> <a routerLink='' style="color: red; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" >LANDCOM</a></h3>
      <div class="spacer"></div>
      <div><button class="btn btn-success" (click)='login()'>{{button}}</button></div>&nbsp;
      <div><button class="btn btn-danger" (click)='newAd()'>Place an ad</button></div>&nbsp;
      
    <a aria-label="LandCom on facebook" target="_blank" rel="noopener" href="https://www.facebook.com/landcomdxb" title="Facebook">
        <button class="btn btn-primary">facebook</button>  
    </a>
  </div>

  <link rel="image_src" href="https://dbzstatic-a.akamaihd.net/.dist_141d951c4bfa96733b3256c431ed7165d672c1a1/images/elements/dubizzle-screenshot.png">